body {
    background-image: url("imgs/background.jpg");
    background-color: #cccccc;
   }

   .p1 {
    font-family: "Franklin Gothic Medium";
  }
  
  .p2 {
    font-family: "Leelawadee UI";
  }

 .p3 {
    font-family: "Franklin Gothic Medium";
    font-size:8px;
  }
  .p4 {
    font-family: "Franklin Gothic Medium";
    font-size:10px;
  }
  